DBMSRemoting/DBMSClient/Connected Services/ServiceReference1/DBMS.Core.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DBMS.Core" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DBMS.Core" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="Table">
    <xs:sequence>
      <xs:element minOccurs="0" name="columnsList" nillable="true" type="tns:ArrayOfColumn" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="rowsList" nillable="true" type="tns:ArrayOfRow" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Table" nillable="true" type="tns:Table" />
  <xs:complexType name="ArrayOfColumn">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Column" nillable="true" type="tns:Column" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfColumn" nillable="true" type="tns:ArrayOfColumn" />
  <xs:complexType name="Column">
    <xs:sequence>
      <xs:element minOccurs="0" name="customTypeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Column" nillable="true" type="tns:Column" />
  <xs:complexType name="ArrayOfRow">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Row" nillable="true" type="tns:Row" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRow" nillable="true" type="tns:ArrayOfRow" />
  <xs:complexType name="Row">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valuesList" nillable="true" type="q1:ArrayOfstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Row" nillable="true" type="tns:Row" />
</xs:schema>